{% extends 'base/base_menu.html' %}
{% load static %}
{% block title %} Список локаций{% endblock %}
{% block content %}



<br>
<br>
<br>
<br>
<br>

<section class="background-image-location" style="background-image: url({% static 'img/location/berazka.jpg' %});">
            <h1 class="display-1 text-light">Список локаций</h1>
                <form action="{% url 'location' %}" class="search-bar">
	    <input type="search" name="search" pattern=".*\S.*" required>
	    <button class="search-btn" type="submit">
		    <span>Search</span>
	</button>
</form>
</section>

    <div class="container">

<!--            <form action="{% url 'location' %}" class="search-bar">-->
<!--	    <input type="search" name="search" pattern=".*\S.*" required>-->
<!--	    <button class="search-btn" type="submit">-->
<!--		    <span>Search</span>-->
<!--	</button>-->
<!--</form>-->
        <br>
        <br>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 ">
            {% for item in page_obj %}
            <div class="col">
                <div class="card shadow-sm bg-dark">
                    <img src="{{ item.image.url }}" width="100%" height="225">

                    <div class="card-body">
<!--                        <small class="{{ item.color }}">{{ item.location }}</small>-->
                        <label class="fs-5 text-white">{{ item.name }}   </label>
                        <div class="d-flex justify-content-between align-items-center">


                            <small class="text-secondary">Территория подконтрольная: <label><a class="a-location" href="{{ item.fraction_link }}">{{ item.fraction_name }}</a></label></small>
                            <a href="{% url 'stats' item.id %}" class="double-border-button">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
{% endfor %}
        </div>
    </div>
<br>
<center>
<hr>
</center>
<br>


<center>
    <div class="btn-group mr-2">

        {% if page_obj.has_previous %}
            <a href="?page=1" class="btn btn-outline-light">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-light">{{ page_obj.previous_page_number }}</a>
            <a href="" class="btn btn-outline-light">{{ page_obj.number }}</a>
        {% else %}

            <a href="" class="btn btn-outline-light">1</a>
        {% endif %}



        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-light">{{ page_obj.next_page_number }}</a>
            <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-outline-light">last &raquo;</a>
        {% endif %}

    </span>
</div>
    <br>
    <br>
    <br>

{% endblock %}