<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>Навигационное меню</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon/favicon.ico' %}">
</head>
<body class="bg-dark">
<div class="container">
    <br>
    <br>
    <a href="{% url 'index' %}" class="double-border-button">Назад</a>
    <br>
    <br>
    <br>
    <center>
    <main class="px-3">
    <h1 class="display-2 text-blue">Навигационная панель</h1>
    <p class="lead text-blue">Эта панель создана, чтобы любой пользователь мог создать свое мероприятие и о нем могло
        услышать, как можно больше людей. Так же тут можно создавать свои сообщения. Самое главное, чтобы оно содержало
    сугубо IC информацию. Модерация вправе отклонить вашу заявку - без указания причин. Средняя проверка занимает 24 часа,
    поэтому лучше готовить их заранее. Так же не эта панель не создана для модерации локаций - вы можете указать ошибку,
    написав в службу поддержке, но контроль территорий происходит сугубо по договоренности с менеджментом фракций.</p>
        <hr>
        <br>
            <a href="{% url 'index' %}" class="double-border-button">Обращение в службу поддержки</a>
        <br>
        <br>
            <a href="{% url 'index' %}" class="double-border-button">Создать мероприятие</a>
        <br>
        <br>
            <a href="{% url 'index' %}" class="double-border-button">Создать сообщение</a>
  </main>
    </center>
</div>
</body>
</html>